body {

    background-color: whitesmoke;
    margin: auto, 0;
}
 @font-face {
    font-family: supermario256;
    src: url(SuperMario256.ttf);
 }

#txt {

    font-family: 'supermario256';
    font-weight: bold;
    font-size: 40px;
  text-align: center;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%; /* makes gradient bigger for animation */
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; /* makes text see gradient */
  animation: rainbowAnimation 5s linear infinite; /* animate continuously */
    
}

@keyframes rainbowAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#g {


    transition: all ease 0.5s;
}

#g:hover {

    transition: 0.4s;
    transform:scale(1.1);
}